<h1>Friends index</h1>
<h2>Total friends: {{model.length}}</h2>

<ul>
    {{#each friend in model}}
        <li>
            {{link-to friend.fullName 'friends.show' friend}} <a href="#" {{action "delete" friend}}>Delete</a>
        </li>
    {{/each}}
</ul>

{{link-to "Add a friend" "friends.new"}}

